{% extends 'base.html' %}
{% block content %}
<div class="container">

<!-- START PAGE HEADING & BREADCRUMBS -->
<div class="row">
<div class="col-lg-12">
<br />
<ol class="breadcrumb">
<li><a href="../">Home</a></li>
<li class="active">7Search Tokens</li>
</ol>
</div>
</div>
<!-- END PAGE HEADING & BREADCRUMBS -->

<!-- START ROW -->
<div class="row">
<div class="col-md-8">

<h1>7Search.com Tracking Tokens</h1>

<hr />

<!-- START CONTENT -->
<div id="article">
<p>
Here are the <span class="badge custom-primary">3</span> current tracking tokens (macros) available for the 7Search.com traffic platform.
</p>

<hr />

<a href="../inc/trk.php?pid=voluum"><img class="img-responsive center-block" src="" width="728" height="90" alt="Voluum Tracking Software" /></a>
<hr />
<!-- START TOKENS -->
<div class="panel panel-success">
<div class="panel-heading">
<table class="table table-condensed">
<thead>
<tr>
<th>#</th>
<th>Token Name</th>
<th>Token Description</th>
</tr>
</thead>
</table>
</div>
<div class="panel-body">
<table class="table table-bordered">
<tbody>
<tr><th scope="row">1</th><td><code>###AFFID###</code></td><td>Affiliate ID (site source of visitor)</td></tr>
<tr><th scope="row">2</th><td><code>###KEYWORD###</code></td><td>Bidded keyword</td></tr>
<tr><th scope="row">3</th><td><code>###RID###</code></td><td>Affiliate website ID (affiliates may have multiple websites)</td></tr>
</tbody>
</table>
</div>
</div>
<!-- END TOKENS -->

<!-- START CONVERSION TRACKING -->
<h3>7Search Conversion Tracking</h3>

<!-- START POSTBACK -->
<div class="panel panel-warning">
<div class="panel-heading">
<h3 class="panel-title"><i class="fa fa-external-link-square"></i> S2S (Server-to-Server) Postback URL</h3>
</div>
<div class="panel-body">
Updates soon
</div>
</div>
<!-- END POSTBACK -->
<!-- END CONVERSION TRACKING -->

<!-- START SPECIAL NOTES -->
<div class="panel panel-info">
<div class="panel-heading">
<h3 class="panel-title"><i class="fa fa-bars"></i> Special Notes:</h3>
</div>
<div class="panel-body">
There are <strong>no special notes</strong> about using 7Search.com tokens.
</div>
</div>
<!-- END SPECIAL NOTES -->

<!-- START NOTE BLOCK -->

<div class="panel panel-danger">
<div class="panel-heading">
<h3 class="panel-title"><i class="fa fa-exclamation-circle"></i> USER AGREEMENT:</h3>
</div>
<div class="panel-body">
<p>
<strong>All tokens and information on this site is provided AS IS</strong>. We are not responsible for any errors, missing tokens, changes or lost income
as the result of using any information on this site. By using this site, you are acknowledging that you agree to our <a href="../terms/">terms of service</a>.
</p>
</div>
</div>

<!-- START MISSING -->
<div class="alert alert-danger" role="alert">
<i class="fa fa-question-circle"></i> Notice and error or a missing token? <a href="../contact/">Click here</a> to let us know!
</div>
<!-- END MISSING --><!-- END NOTE BLOCK -->

</div>
<!-- END CONTENT -->

<p>
<a class="btn btn-primary btn-lg" href="../"><i class="fa fa-arrow-circle-left fa-lg"></i> Back To Token List</a> <a class="btn btn-success btn-lg" href="../go.php?pid=7search">Buy Traffic @ 7Search.com <i class="fa fa-arrow-circle-right fa-lg"></i></a>
</p>

<!-- START AD BLOCK -->
<!-- START AD BLOCK -->
<hr />

<div class="col-md-6 img-responsive">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- tokens-bottom responsive -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-4582320205113781"
     data-ad-slot="9036805838"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>

<div class="col-md-6 img-responsive">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- tokens-bottom responsive -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-4582320205113781"
     data-ad-slot="9036805838"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
    <!--
<div class="col-md-6">
<a href="#"><img class="img-thumbnail img-responsive" src="http://placehold.it/300x250" alt="image" /></a>
</div>
<!-- END AD BLOCK --><!-- END AD BLOCK -->

</div>

<!-- START SIDEBAR -->
<div class="col-md-4">

<!-- START SOCIAL ICONS -->
<div class="well">
<p>
<strong>Be Friendly and Share!</strong>
</p>
<p>
<a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/sharer/sharer.php?u=http://trackingtokens.com&title=TrackingTokens.com"><i class="fa fa-facebook"></i></a>
<a class="btn btn-social-icon btn-twitter" href="https://twitter.com/share?url=http://trackingtokens.com"><i class="fa fa-twitter"></i></a>
<a class="btn btn-social-icon btn-google" href="https://plus.google.com/share?url=http://trackingtokens.com"><i class="fa fa-google"></i></a>
</p>
</div>
<!-- END SOCIAL ICONS -->

<!-- START TRACKERS BOX -->
<div class="well">
<h4>Popular Tracking Software:</h4>
<p>
<ol>
<li><a href="../go.php?pid=voluum">Voluum</a></li>
<li><a href="../go.php?pid=thrive">Thrive</a></li>
<li><a href="../go.php?pid=bemobside">BeMob</a></li>
<li><a href="../go.php?pid=trackingdesk">Tracking Desk</a></li>
<li><a href="../go.php?pid=adsbridge">AdsBridge</a></li>
</ol>
</p>
</div>
<!-- END TRACKERS BOX -->

<!-- START ADVERT BOX -->
<div class="well">
<h4>We Recommend:</h4>
<p>
<!--
<a href="../go.php?pid=propellerads"><img class="img-thumbnail img-responsive" src="../images/propellerads-300x250.gif" width="300" height="250" alt="Propeller Ads" /></a>
</p>
-->
<p>
<a href="../go.php?pid=voluum"><img class="img-thumbnail img-responsive" src="" width="300" height="250" alt="Voluum Tracking Software" /></a>
</p>
<!--
<p>
<a href="../go.php?pid=bemobside"><img class="img-thumbnail img-responsive" src="../images/bemob-300x250.png" width="300" height="250" alt="BeMob Tracking Software" /></a>
</p>
-->
<p>
<!--
<a href="../go.php?pid=affix"><img class="img-thumbnail img-responsive" src="../images/affiliatefix-300x250.gif" width="300" height="250" alt="AffiliateFix Forum" /></a>
-->
<!--
<a href="../go.php?pid=adsbridge"><img class="img-thumbnail img-responsive" src="../images/adsbridge-300x250.jpg" width="300" height="250" alt="AdsBridge Tracking Software" /></a>
-->

<a href="../go.php?pid=popadsref"><img class="img-thumbnail img-responsive" src="" width="300" height="250" alt="PopAds Mobile Traffic" /></a>
</p>
<!--
<a href="../go.php?pid=injection"><img class="img-thumbnail img-responsive" src="../images/injection-connection-2-300x250.gif" width="300" height="250" alt="Injection Connection" /></a>
</p>
<!--
<p>
<a href="../go.php?pid=traffico"><img class="img-thumbnail img-responsive" src="../images/traffic-company-300x250.gif" width="300" height="250" alt="Traffic Company" /></a>
</p>
-->
</div>
<!-- END ADVERT BOX -->

</div><!-- START SIDEBAR -->

</div>
<!-- END ROW -->

<!-- START FOOTER -->

<footer>
<hr />
<div class="row">
<div class="col-lg-12">
<p><a href="../">Home</a> | <a href="../privacy/">Privacy</a> | <a href="../terms/">Terms</a> | <a href="../faq/">FAQ</a> | <a href="../contact/">Contact</a></p>
<p>Copyright &copy; 2015 - 2018 TrackingTokens.com</p>
</div>
</div>
</footer>

{#<script src="//static.getclicky.com/js" type="text/javascript"></script>#}
{#<script type="text/javascript">try{ clicky.init(100891035); }catch(e){}</script>#}
{#<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/100891035ns.gif" /></p></noscript>#}
{##}
{#<script type="text/javascript">#}
{#    adroll_adv_id = "SJNTCA5QANC7XPREENNM6B";#}
{#    adroll_pix_id = "PXJ664XU4RDL5EAJZTQIUV";#}
{#    /* OPTIONAL: provide email to improve user identification */#}
{#    /* adroll_email = "username@example.com"; */#}
{#    (function () {#}
{#        var _onload = function(){#}
{#            if (document.readyState && !/loaded|complete/.test(document.readyState)){setTimeout(_onload, 10);return}#}
{#            if (!window.__adroll_loaded){__adroll_loaded=true;setTimeout(_onload, 50);return}#}
{#            var scr = document.createElement("script");#}
{#            var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");#}
{#            scr.setAttribute('async', 'true');#}
{#            scr.type = "text/javascript";#}
{#            scr.src = host + "/j/roundtrip.js";#}
{#            ((document.getElementsByTagName('head') || [null])[0] ||#}
{#                document.getElementsByTagName('script')[0].parentNode).appendChild(scr);#}
{#        };#}
{#        if (window.addEventListener) {window.addEventListener('load', _onload, false);}#}
{#        else {window.attachEvent('onload', _onload)}#}
{#    }());#}
{#</script><!-- END FOOTER -->#}

</div>
{% endblock %}
